{
    "env": {
        "browser": true,
        "es6": true
    },
    "installedESLint": true,
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "indent": [
            "error",
            2
        ],
        "semi": [
            "error",
            "never"
        ],
        "no-unused-vars": "off",
        "no-console": "off",
        "space-before-function-paren": "off",
        "class-methods-use-this": "off",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/jsx-pascal-case": "error",
        "react/jsx-first-prop-new-line": "error",
        "react/jsx-no-undef": "error",
        "react/jsx-no-duplicate-props": "error",
        "react/jsx-no-bind": "error",
        "react/jsx-max-props-per-line": "error",
        "react/prop-types": "error",
        "react/no-direct-mutation-state": "error",
        "react/no-multi-comp": "error",
        "react/no-string-refs": "warn",
        "react/prefer-es6-class": "error",
        "react/prefer-stateless-function": "warn",
        "react/react-in-jsx-scope": "error",
        "react/require-render-return": "error",
        "react/sort-prop-types": "warn",

    }
}
