.create-post {
    background-color: white;
    border: $border;
    padding: 1em 1em 1em 1em;
    margin-top: 1em;

    .post-options {
        .post-formats {
            margin-top: 1em;
        }

        .buttons {
            margin-top: 0.5em;
            float: right;
            * {
                margin-right: 0.5em;
            }
        }
    }
}

.create-post {
    .create-post-footer {
        display: flex;
        align-items: center;

        .Select {
            min-width: 100px;
            width: 12em;
        }

        .post-status {
            margin-left: auto;
        }

        & > *:not(:last-child) {
            margin-right: 1em;
        };
    }
}